<?xml version="1.0"?>
<model>
	<name>Mobile Warehouse Robot</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>
	<author>
	 <name>Yusif Razzaq</name>
	 <email>yusif.razzaq@colorado.edu</email>
	</author>
	
	<description>
	 A basic differential drive mobile warehouse robot.
	</description>
</model>
